{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            {% block title %}

            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>
        <div id="sidebar">
            <h2>My blog</h2>
            
            <p>
                <span>This is my blog.</span>
                <span>I've written {% totalPosts %} posts so far.</span>
            </p>

            <h3>Latest Posts</h3>
            {% showLatestPosts 3 %}
        </div>
    </body>

</html>