{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock title %}

{% block content %}
<h1>My Blog</h1>
{% if tags %}
<h2>Post taged with #{{tags.name}}</h2>
{% endif %}
{% for post in posts %}
<h2>
    <a href="{{post.get_absolute_url}}">
        {{ post.title }}
    </a>
</h2>

{% if post.tags.all %}
<p class="tags">
    Tag:
    {% for tag in post.tags.all %}
    <a href="{% url 'blog:postList-tag' tag.slug %}">{{tag}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
</p>
{% endif %}

<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|truncatewords:15|linebreaks }}
<hr />
{% endfor %}

{% block pagination %}
{% endblock pagination %}

{% endblock %}